{% extends 'base.html' %}
{% block titulo %}Criação de Treinamento{% endblock %}
{% block conteudo %}
{% include 'parciais/errors.html' %}
{% include 'parciais/_messages.html' %}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Cadastro de um novo <strong>Treinamento.</strong></h3>
    </div>
    <!-- ./ form -start -->
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-body">
        
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Nome do Treinamento : </label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fab fa-buffer"></i></span>
                            </div>
                            <input type="text" name="training_name" class="form-control" placeholder="Digite o nome da entidade...">
                          </div>
                    </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Categoria : </label>
                    <div class="input-group ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-network-wired"></i></span>
                        </div>
                        <select class="form-control" name="treinamento" id="treinamento">
                          <option value="" disabled="" selected="">Escolha o Treinamento que irá ocorrer.</option>
                          <option value="">1</option>
                      </select>
                      </div>
                </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Conteudo : </label>
                    <textarea class="form-control conteudo" rows="2" cols="30"
                    name="content" placeholder="Digite o conteúdo aqui..."
                    maxlength="200" required id="id_conteudo" value="{{ conteudo }}"
                    style="resize: none;"></textarea>
                </div>
            </div>
        

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Requisito : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-paste"></i></span>
                    </div>
                    <input type="text" name="required" class="form-control" placeholder="Digite os requisitos para esse treinamento.">
                  </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Recursos : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-archive"></i></span>
                    </div>
                    <input type="text" name="resource" class="form-control" placeholder="Digite os recursos necessários para esse treinamento.">
                  </div>
            </div>
            
            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Local : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <input type="text" name="local" class="form-control" placeholder="Digite o local do treinamento">
                  </div>
            </div>


            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Carga Horária : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-clock"></i></span>
                    </div>
                    <input type="text" name="workload" class="form-control"
                     placeholder="Digite a carga horária em Horas, ex: 1, 2, 3"
                     data-provide="datepicker">
                  </div>
            </div>

                <div class="box-footer">
                    <a href="{% url 'training:training_list' %}"><i class="fa fa-reply-all ml-3 mr-3 " title="Voltar"></i></a>
                    <button type="reset" class="btn btn-warning">Limpar Registros</button>
                    <button type="submit" value="submit" class="btn btn-primary">Salvar Novo Treinamento</button>
                </div>
        </form>
        <!-- /.form group -->
        </div>
        <!-- /. Col - md- 3-->
    </div>
    <!-- /.box-body -->
</div>

{% endblock %}