{% extends 'base.html' %}
{% load static %}
{% block titulo %}Gestão de Hora{% endblock %}
{% block conteudo %}
{% include 'parciais/errors.html' %}
{% include 'parciais/_messages.html' %}

<div class="row">

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Verificação de change de falta</h3>
           </div>
            <div class="card-body pt-0">
             
              <div class="row">
                <div class="form-group col-md-8">
                  <label class="mt-4">Pesquisar Funcionário Saúde :</label>
                </div>


            <div class="col-7">
            <p class="text-muted text-sm"><b id="name_employee"><b>Nome: </b>{{ body_mass }}</b></p>
            <p class="text-muted text-sm"><b>Bio: </b> <span id="bio_employee">{{ body_mass.identifier.bio }}</span></p>
            <p class="text-muted"><b>Saúde : </b> <span id="health_employee"> {{ body_mass.classification_text }} </span></p>
            <p class="text-muted"><b>IMC : </b> <span id="index_mass_employee"> {{ body_mass.imc }} </span></p>
            <ul class="ml-4 mb-0 fa-ul text-muted">
              <li><span class="fa-li "><i class="fas fa-lg fa-building"></i></span>
                  <p> Endereço : <span id="address_employee">{{ body_mass.identifier.andress }}, {{ body_mass.identifier.andress_number }}</span> </p></li>
              <li><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                  <p> Telefone :  <span id="phone_employee">{{ body_mass.identifier.phone }}</span> </p></li>
            </ul>
           
            </div>
            </div>
            </div>
            <div class="card-footer">
              <div class="text-right ">
               
              </div>
            </div>
          </div>
        </div>

</div>


{% endblock %}