{% extends 'base.html' %}
{% load static %}
{% block titulo %}Gestão de Hora{% endblock %}
{% block conteudo %}
{% include 'parciais/errors.html' %}
{% include 'parciais/_messages.html' %}

<div class="row">

    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Verificação de change de falta</h3>
           </div>
            <div class="card-body pt-0">
             
              <div class="row">

            <div class="col-12 mt-4">
            <p class="text-muted"><b id="name_employee"><b>Situação Climatica: </b>{{ weather }}</b></p>
            <p class="text-muted"><b id="name_employee"><b>Nome:  </b></b>{{ employee.name }}</p>
            <p class="text-muted"><b>Bio: </b> <span id="bio_employee">{{ employee.bio }}</span></p>
            <p class="text-muted"><b>Cargo: </b> <span id="#">{{ employee.role }}</span></p>
            <p class="text-muted"><b>Locomoção: </b> <span id="#">{{ employee.locomotion }}</span></p>
            <p class="text-muted"><b>Endereço: </b> <span id="#">{{ employee.andress }}</span></p>
            <p class="text-muted"><b>Média de Absenteismo: </b> <span id="#">{{ avegare_absenteism }} %</span></p>
            <p class="text-muted"><b>Probabilidade de falta: </b> <span id="#" style="color: blueviolet"><b>{{ rate_absenteism }} %</b></span></p>
            <img class="img-circle img-bordered" id="img_user_prev_weather" src="{{ employee.photo.thumbnail.url }}" width=80 height=80></td>
          </div>

            </div>
            </div>
            <div class="card-footer">

              <div class="text-right">
               <a href="{% url 'hour:hour' %}" class="btn btn-warning float-right pl-5 pr-5 w-100">Voltar</a>
              </div>
            </div>
          </div>
        </div>

</div>


{% endblock %}