{% extends 'base.html' %}
{% block titulo %}Gestão de Hora{% endblock %}
{% block conteudo %}

<div class="col-md-12">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#absenteismo" data-toggle="tab">Absenteísmo</a></li>
          <li class="nav-item"><a class="nav-link" href="#previ-falta" data-toggle="tab">Previsão Faltas</a></li>
          <li class="nav-item"><a class="nav-link" href="#horas-adicionais" data-toggle="tab">Horas Adicionais</a></li>
          <li class="nav-item"><a class="nav-link" href="#previ-horas-adicionais" data-toggle="tab">Previsão Horas Adicionais</a></li>
        </ul>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">
          <div class="active tab-pane" id="absenteismo">
            <!-- Treinamento -->
            <h2 id="taxa_absenteismo"> Taxa de absenteísmo </h2>
            <hr>
            <p>
              O índice mede as ausências dos funcionários a partir de suas faltas
justificadas ou não, atrasos e licenças médicas. Ele pode ser avaliado
semanal, quinzenal ou mensalmente, de acordo com as necessidade
do negócio.
            </p>

            <div class="row">
              <div class="input-group mb-3 col-md-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                </div>
                <input type="text" name="employee" class="form-control"
                value="" placeholder="Número do registro do funcionários">
              </div>

              <div class="input-group mb-3 col-md-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                </div>
                <input type="text" name="number_day" class="form-control"
              value="" placeholder="Número de dias que o profissional ficou ausente">
              </div>

              <div class="input-group mb-3 col-md-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                </div>
                <input type="text" name="working_days" class="form-control"
              value="" placeholder="Total de dias úteis no período">
              </div>

            <div class="input-group mb-3 col-md-3">
              <a type="button" href="#" class="btn btn-block btn-primary">Calcular taxa de Absenteísmo</a>
            </div>
          </div>
          <hr>
          <h2 id="absenteismo">Absenteísmo  : </h2>
            
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="previ-falta">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Digite a cidade para o analise : </label>
                  <div class="row">
                  <div class="form-group col-md-4">
                  <input type="text" class="form-control" name="cidade" id="exampleInputEmail1" placeholder="Digite a cidade">
                </div>
                <div class="form-group col-md-8">
                  <a href="#" class="btn btn-success pr-5 pl-5">Enviar</a>
                </div>
                </div>
              </div>
                <a class="weatherwidget-io" href="https://forecast7.com/pt/n23d20n47d29/salto/" data-label_1="SALTO" data-label_2="WEATHER" data-theme="clear" data-lowcolor="#ae96f7" data-raincolor="#ae96f7" >SALTO WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
</div> <!-- col-md-12 -->
</div> <!-- row -->

          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="horas-adicionais">
            <p> Horas Adicionais </p>
          </div>
          <!-- /.tab-pane -->


          <div class="tab-pane" id="previ-horas-adicionais">
            <p> Previsão Horas Adicionais </p>
          </div>

        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>

{% endblock %}