{% load static %}
<!-- Fathers Icons -->
<script src="https://unpkg.com/feather-icons"></script>
<!-- Ionicos -->
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

<script src="{% static 'admin-lte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script src="{% static 'admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

<script src="{% static 'admin-lte/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'admin-lte/dist/js/demo.js' %}"></script>
<script>$.widget.bridge('uibutton', $.ui.button);</script>
 <!-- Your custom scripts -->
 <script>
  feather.replace()
  // First step to active the li in menu.
  url = window.location.href.split('/')[3]
  $(`#li-${url}`).addClass('active')
  


 </script>