{% load static %}
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'ThemeAdmin/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'ThemeAdmin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE -->
<script src="{% static 'ThemeAdmin/dist/js/adminlte.min.js.map' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'ThemeAdmin/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'ThemeAdmin/dist/js/demo.js' %}"></script>
<script src="{% static 'ThemeAdmin/dist/js/pages/dashboard3.js' %}"></script>