{% load static %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-light elevation-5">
    <!-- Brand Logo -->
    <div class="brand-link">
      
      <img class="ml-4 mt-0 mb-0" src="{%static 'img/logo/logo1.png' %}"
      alt="PeopleAnalytics" height="50" width="185">
      <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-2 mb-2 d-flex">
        <div class="image">
          <img src="{% static 'img/users/user.jpg' %}" class="img-circle elevation-2 mt-2" alt="Employee">
        </div>
        <div class="info">
          <a href="{% url 'users:users_list' %}" class="font-weight-bolder d-block">{{ request.user.first_name|title }} {{ request.user.last_name|title }}</a>
          <p class="font-weight-bolder mb-0 mt-1">
            {% if request.user.role %}
            <a href="{% url 'users:users_list' %}">{{ request.user.role }}</a></p>
            {% else %}
            <a href="{% url 'users:users_list' %}">Cargo a definir pelo RH</a></p>
            {% endif %}
        </div>
      </div>
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
      
          <li class="nav-item">
              <a href="{% url 'users:users_list' %}" id="li-users" class="nav-link">
                <img src="{% static 'icons/users.svg' %}" alt="Employee" />
                <p class="font-weight-bolder ml-3">Funcionários</p></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'dashboard:dashboard' %}" id="li-dashboard" class="nav-link">
              <img src="{% static 'icons/pie-chart.svg' %}" alt="Dashboard"  />
              <p class="font-weight-bolder ml-3">Dashboard</p></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'ticket:ticket' %}" id="li-tickets" class="nav-link">
              <img src="{% static 'icons/clipboard.svg' %}" alt="Tickets" />
              <p class="font-weight-bolder ml-3">Chamados</p></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'performance:performance_list' %}" id="li-performance" class="nav-link">
              <img src="{% static 'icons/trending-up.svg' %}" alt="Performance" />
              <p class="font-weight-bolder ml-3">Desempenho</p></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'hour:hour' %}" id="li-hour_management" class="nav-link">
              <img src="{% static 'icons/clock.svg' %}" alt="Time Management" />
              <p class="font-weight-bolder ml-3">Gestão De Horas</p></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'business:business' %}" id="li-business" class="nav-link">
              <img src="{% static 'icons/briefcase.svg' %}" alt="Business" />
              <p class="font-weight-bolder ml-3">Négócios</p></a>
          </li>

          <li class="nav-item">
            <a href="{% url 'health:health' %}" id="li-health" class="nav-link">
              <img src="{% static 'icons/activity.svg' %}" alt="Health" />
              <p class="font-weight-bolder ml-3">Saúde</p></a>
          </li>
          
          <li class="nav-item">
            <a href="{%url 'training:training_list' %}" id="li-training" class="nav-link">
              <img src="{% static 'icons/book-open.svg' %}" alt="Training" />
              <p class="font-weight-bolder ml-3">Treinamento</p></a>
          </li>

          <li class="nav-item">
            <a href="{%url 'benefits:benefits_list' %}" id="li-benefits" class="nav-link">
              <img src="{% static 'icons/package.svg' %}" alt="Benefits" />
              <p class="font-weight-bolder ml-3">Benéficios</p></a>
          </li>
          
          <li class="nav-item">
            <a href="{%url 'recruiting:recruiting' %}" id="li-recruiting" class="nav-link">
              <img src="{% static 'icons/user-plus.svg' %}" alt="Recruting" />
              <p class="font-weight-bolder ml-3">Recrutamento</p></a>
            </li>
            
            <li class="nav-item">
              <a href="{%url 'dismissal:dismissal' %}" id="li-dismissal" class="nav-link">
                <img src="{% static 'icons/user-minus.svg' %}" alt="Dismiss" />
                <p class="font-weight-bolder ml-3">Desligamento</p></a>
              </li>
              
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
          
          
    </div>
    <!-- /.sidebar -->
    
  </aside>