{% load static %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-light elevation-5">
    <!-- Brand Logo -->
    <div class="brand-link">
      
      <img class="ml-4 mt-0 mb-0" src="{%static 'img/logo/isso.png' %}"
      alt="PeopleAnalytics" height="50" width="185">
      <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-2 mb-2 d-flex">
        <div class="image">
          <img src="{% static 'img/users/user.jpg' %}" class="img-circle elevation-2 mt-2" alt="Employee">
        </div>
        <div class="info">
          <a href="#" class="font-weight-bolder d-block">Alexander Pierce</a>
          <p class="font-weight-bolder mb-0 mt-1">
            <a href="#">Técnico em Informática</a></p>
        </div>
      </div>
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
      
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i data-feather="pie-chart"></i>
              <p class="font-weight-bolder ml-3">Dashboard</p></a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i data-feather="clipboard"></i>
              <p class="font-weight-bolder ml-3">Chamados</p></a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i data-feather="trending-up"></i>
              <p class="font-weight-bolder ml-3">Performance</p></a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i data-feather="clock"></i>
              <p class="font-weight-bolder ml-3">Gestão De Horas</p></a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i data-feather="briefcase"></i>
              <p class="font-weight-bolder ml-3">Négócios</p></a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i data-feather="activity"></i>
              <p class="font-weight-bolder ml-3">Saúde</p></a>
          </li>

          
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i data-feather="user-plus"></i>
              <p class="font-weight-bolder ml-3">Recrutamento</p></a>
            </li>
            
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i data-feather="user-minus"></i>
                <p class="font-weight-bolder ml-3">Desligamento</p></a>
              </li>
              
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i data-feather="users"></i>
                  <p class="font-weight-bolder ml-3">Funcionários</p></a>
              </li>
              
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
          
          
    </div>
    <!-- /.sidebar -->
    
  </aside>