{% extends 'base.html' %}
{% block titulo %}Criação de Entidade{% endblock %}
{% block conteudo %}

{% include 'parciais/errors.html' %}
{% include 'parciais/_messages.html' %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Cadastro de uma nova <strong>Entidade.</strong></h3>
    </div>
    <!-- ./ form -start -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 

        <div class="card-body">
        
        <div class="row">
            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Nome da Entidade : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-building"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite o nome da entidade...">
                  </div>
            </div>


            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Razao Social : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-building"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite a Rãzao Social">
                  </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">CNPJ : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-building"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite o CNPJ ">
                  </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Nome da Pessoa Resposável : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite o nome da pessoa responsável">
                  </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">E-mail : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-envelope"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite o e-mail do responsável">
                  </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Telefone : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite o telefone do pessoa resposável">
                  </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">CEP : </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <input type="text" id="cep" name="cep" class="form-control" placeholder="00.000-000">
                  </div>
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Cidade : </label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-city"></i></span>
                </div>
                <input type="text" id="city" name="city" class="form-control" placeholder="Digite o nome da cidade.">
              </div>
        </div>

            <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Endereço : </label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                </div>
                <input type="text" id="andress" name="andress" class="form-control" placeholder="Digite o nome da rua.">
              </div>
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Bairro : </label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-city"></i></span>
                </div>
                <input type="text" id="district" name="district" class="form-control" placeholder="Digite o bairro da cidade.">
              </div>
        </div>


    </div>
    <div class="box-footer">
        <a href="{% url 'training:training_list' %}"><i class="fa fa-reply-all ml-2 mr-2" title="Voltar"></i></a>
        <button type="reset" class="btn btn-warning">Limpar Registros</button>
        <button type="submit" value="submit" class="btn btn-primary">Salvar Nova Entidade</button>
    </div>
        </div> <!-- ./ row finish here-->
    </form>
    <!-- /.form group -->
</div>
<!-- /.box-body -->

{% endblock %}