{% extends 'base.html' %}
{% load static %}
{% block titulo %}Saúde{% endblock %}
{% block conteudo %}
<!-- Need to change the nav bar -->
<div class="row">

    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Fazer Calcúlo de Saúde</h3>
            </div>
            <div class="card-body">
              
              <div class="form-group">
                <label>Funcionário:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="identifier"
                   placeholder="Digite o Registro do Funcionário">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <div class="row">
              <div class="form-group col-md-6">
                <label>Peso:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-weight"></i></span>
                  </div>
                  <input type="text" class="form-control" name="weighing_date" id="weighing_date"
                   placeholder="Digite o peso do funcionário">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <div class="form-group col-md-6">
                <label>Altura:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-ruler-vertical"></i></span>
                  </div>
                  <input type="text" class="form-control" name="weight" id="weight"
                  placeholder="Digite a altura do funcionário">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div> <!-- ./ row-->

            <div class="row">
              <div class="form-group col-md-6">
                <label>Pressão arterial sistólica:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-stethoscope"></i></span>
                  </div>
                  <input type="text" class="form-control" name="height" id="height"
                   placeholder="Digite a pressão arterial sistólica">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <div class="form-group col-md-6">
                <label>Pressão sanguínea diastólica:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-stethoscope"></i></span>
                  </div>
                  <input type="text" class="form-control" name="abdominal_circumference"
                   id="abdominal_circumference" placeholder="Digite a pressão arterial diastólica" >
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div> <!-- ./ row-->


            <div class="form-group">
              <label>Circunferência abdominal:</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-tape"></i></span>
                </div>
                <input type="text" class="form-control" name="systolic_blood_pressure"
                placeholder="Digite a Circunferência Abdominal do Funcionário..">
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <a class="btn btn-primary float-right pl-5 pr-5" href="http://">Enviar</a>
              <span class="pl-1 pr-1 float-right">&nbsp;</span>
              <button class="btn btn-warning float-right pl-5 pr-5" type="reset">Limpar</button>
            </div>
          </div>

    </div>

    <div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Vizualização de Saúde Funcionário</h3>
       </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-7">
              <h2 class="lead mt-5"><b>Nome do Funcionário</b></h2>
              <p class="text-muted text-sm"><b>Bio: </b>{{ user.bio }}Therut arrassing hidden in the middle of text. All the Loend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence strtic words etc.</p>
              <p class="text-muted text-sm"><b>Saúde : </b> Risco Baixo/ Saudável </p>
              <p class="text-muted text-sm"><b>IMC : </b> 17,5 </p>
              <ul class="ml-4 mb-0 fa-ul text-muted">
                <li class="small "><span class="fa-li "><i class="fas fa-lg fa-building"></i></span>
                    <p class="mt-4 "> Endereço: Demo Street 123, Demo City 04312, NJ </p></li>
                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                    <p class="mt-2"> Telefone #: + 800 - 12 12 23 52 </p></li>
              </ul>
            </div>
            <div class="col-5 text-center">
              <img src="{% static 'img/users/user.jpg' %}" alt="" class="img-circle img-fluid mt-5 pt-2">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-right ">
            <a href="#" class="btn btn-sm bg-teal">
              <i class="fas fa-comments"></i>
            </a>
            <a href="#" class="btn btn-sm btn-primary">
              <i class="fas fa-user"></i> Ver Detalhes do Funcionário
            </a>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="row">

<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Indice de Massa Corporal</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>                  
              <tr>
                <th>Descrição</th>
                <th>Classificação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Risco Baixo/ Saudável</td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" style="width: 100%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Risco Médio/ Pre-Hipertensão</td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 100%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Risco Alto/ Hipertensão Estágio 2</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar bg-warning" style="width: 100%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Risco Alto/ Hipertensão Estágio 3</td>
                <td>
                  <div class="progress progress-xs progress-striped active">
                    <div class="progress-bar bg-danger" style="width: 100%"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body --> 
      </div>
      
</div>

<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Tabela de classificação do IMC</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>                  
              <tr>
                <th scope="col">IMC</th>
                <th scope="col">Classificação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Menor que 16</strong></td>
                <td>Magreza Grave</td>
              </tr>
              <tr>
                <td><strong>Entre 16 a 17</strong></td>
                <td>Magreza Moderada</td>
              </tr>
              <tr>
                <td><strong>Entre 17 a 18,5</strong></td>
                <td>Magreza Leve</td>
              </tr>
              <tr>
                <td><strong>Entre 18,5 a 25</strong></td>
                <td>Saudável</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body --> 
      </div>
</div>

</div>

{% endblock %}