{% extends 'base.html' %}
{% load static %}
{% block titulo %}Exame périodo{% endblock %}
{% block conteudo %}
{% include 'parciais/errors.html' %}
{% include 'parciais/_messages.html' %}
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" href="#exame_periodico" data-toggle="tab">Exame Periódico</a></li>
        <li class="nav-item"><a class="nav-link" href="#imc" data-toggle="tab">Indíce de massa corporal</a></li>
      </ul>
    </div><!-- /.card-header -->
    <div class="card-body">
      <div class="tab-content">

        <div class="active tab-pane" id="exame_periodico">
            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body">
                <div class="col-md-4 mb-3">
                    <a type="button" href="{% url 'health:create_exam' %}" class="btn btn-block btn-primary">Adicionar um novo exame</a>
                    </div>
            
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="box-body table-responsive no-padding">
                      <table class="table table-bordered table-hover">
                  
                  <thead>
                  <tr role="row">
                    <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 2%; text-align : center;">Foto</th>
                    <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 6%; text-align : center;">Nome do Funcionário</th>
                    <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 8%; text-align : center;">Exame</th>
                    <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 4%; text-align : center;">Data do Exame</th>
                    <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 4%; text-align : center;">Data Próximo Exame</th>
                    <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 2%; text-align : center;"></th></tr>
                  </thead>
              
                  <tbody>
                  {% for exam in exams %}
                  <tr role="row">
                    <td class="" style="text-align : center;">
                      <img class="img-circle img-bordered-sm" src="{{ exam.employee.photo.thumbnail.url }}" width="50" height="50">
                    </td>
                    <td class="pt-3" style="text-align : center;"><a href="{% url 'users:user_update' exam.employee.pk %}">{{ exam.employee }} </a></td>
                    <td class="pt-3" style="text-align : center;">{{ exam.exame|title }} </td>
                    <td class="pt-3" style="text-align : center;">{{ exam.initial_date|date:"d/m/Y"  }} </td>
                    <td class="pt-3" style="text-align : center;">{{ exam.initial_date|date:"d/m/Y"  }} </td>
                    <td class="pt-3"><a href="{% url 'health:delete_exam' exam.id %}"><img src="/static/icons/cancel.png"></a></td>
                  </tr> 
                  {% endfor %}
                  
                  </tbody>
            
                  <tfoot>
                  </tfoot>
                </table>
              </div>
              
              </div>
            </div>
            
            </div>
            <div class="col-md-2">
              <div class="pl-1">Mostrar 1 de 10</div>
            </div>
        
              <div class="col-md-4 offset-md-4">
                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="example2_previous">
                      <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item active">
                      <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                    </li>
                    <li class="paginate_button page-item ">
                      <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                    </li>
                    <li class="paginate_button page-item next" id="example2_next">
                      <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            
            
              </div>
              <!-- /.card-body -->
            </div>
        </div>
        <!-- /.tab-pane -->

        <div class=" tab-pane" id="imc">
          <div class="row">

            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Fazer Calcúlo de Saúde</h3>
                    </div>
                    <div class="card-body">
<form action="{% url 'health:health_calculus' %}" method="POST">
  {% csrf_token %}
                      
                      <div class="form-group">
                        <label>Funcionário:</label>
        
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" name="identifier"
                           placeholder="Digite o Registro do Funcionário">
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
        
                      <div class="row">
                      <div class="form-group col-md-6">
                        <label>Peso:</label>
        
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-weight"></i></span>
                          </div>
                          <input type="text" class="form-control" name="weight" id="weight"
                           placeholder="Digite o peso do funcionário">
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
        
                      <div class="form-group col-md-6">
                        <label>Altura:</label>
        
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-ruler-vertical"></i></span>
                          </div>
                          <input type="text" class="form-control" name="height" id="height"
                          placeholder="Digite a altura do funcionário">
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
                    </div> <!-- ./ row-->
        
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label>Pressão arterial sistólica:</label>
        
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-stethoscope"></i></span>
                          </div>
                          <input type="number" class="form-control" name="systolic_blood_pressure" id="height" min="100" max="300"
                           placeholder="Digite a pressão arterial sistólica">
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
        
                      <div class="form-group col-md-6">
                        <label>Pressão sanguínea diastólica:</label>
        
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-stethoscope"></i></span>
                          </div>
                          <input type="number" class="form-control" name="diastolic_blood_pressure" min="100" max="300"
                           id="abdominal_circumference" placeholder="Digite a pressão arterial diastólica" >
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
                    </div> <!-- ./ row-->
        
        
                    <div class="form-group">
                      <label>Circunferência abdominal:</label>
        
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-tape"></i></span>
                        </div>
                        <input type="number" class="form-control" name="abdominal_circumference" min="100" max="300"
                        placeholder="Digite a Circunferência Abdominal do Funcionário..">
                      </div>
                      <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    </div>
                    <!-- /.card-body -->
                    
                    <div class="card-footer">
                      <button class="btn btn-primary float-right pl-5 pr-5" type="submit">Enviar</button>
                      <span class="pl-1 pr-1 float-right">&nbsp;</span>
                      <button class="btn btn-warning float-right pl-5 pr-5" type="reset">Limpar</button>
                    </div>
                  </div>
</form>       
            </div>
        
            <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Vizualização de Saúde Funcionário</h3>
               </div>
                <div class="card-body pt-0">
                  <form action="{% url 'health:search_employee' %}" method="GET">
                  <div class="row">
                    <div class="form-group col-md-8">
                      <label class="mt-4">Pesquisar Funcionário Saúde :</label>
    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" name="employee" placeholder="Digite o indentificador do funcionário..">
                      </div>
                      <!-- /.input group -->
                    </div>

                    <div class="col-md-4 pt-4 mt-2">
                      <button type="submit" class="btn btn-success mt-4 pr-3 pl-3">Pesquisar</button>
                    </div>
                  </form>

                <div class="col-7">
                {% if body_mass %}
                <p class="text-muted text-sm"><b id="name_employee"><b>Nome: </b>{{ body_mass }}</b></p>
                <p class="text-muted text-sm"><b>Bio: </b> <span id="bio_employee">{{ body_mass.identifier.bio }}</span></p>
                <p class="text-muted"><b>Saúde : </b> <span id="health_employee"> {{ body_mass.classification_text }} </span></p>
                <p class="text-muted"><b>IMC : </b> <span id="index_mass_employee"> {{ body_mass.imc }} </span></p>
                <ul class="ml-4 mb-0 fa-ul text-muted">
                  <li><span class="fa-li "><i class="fas fa-lg fa-building"></i></span>
                      <p> Endereço : <span id="address_employee">{{ body_mass.identifier.andress }}, {{ body_mass.identifier.andress_number }}</span> </p></li>
                  <li><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                      <p> Telefone :  <span id="phone_employee">{{ body_mass.identifier.phone }}</span> </p></li>
                </ul>
                {% else %}
                {% endif %}
                </div>
                <div class="col-5 text-center pt-5">
                      <img src="{{ body_mass.identifier.photo.url }}" class="img-circle img-fluid">
                </div>
                </div>
                </div>
                <div class="card-footer">
                  <div class="text-right ">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <a href="{% url 'users:user_update' 14  %}" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> Ver Detalhes do Funcionário
                    </a>
                  </div>
                </div>
              </div>
            </div>
        
        </div>
        
        <div class="row">
        
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Indice de Massa Corporal</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>                  
                      <tr>
                        <th>Descrição</th>
                        <th>Classificação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Risco Baixo/ Saudável</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-success" style="width: 100%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Risco Médio/ Pre-Hipertensão</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 100%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Risco Alto/ Hipertensão Estágio 2</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar bg-warning" style="width: 100%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Risco Alto/ Hipertensão Estágio 3</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar bg-danger" style="width: 100%"></div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body --> 
              </div>
              
        </div>
        
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Tabela de classificação do IMC</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>                  
                      <tr>
                        <th scope="col">IMC</th>
                        <th scope="col">Classificação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>Menor que 16</strong></td>
                        <td>Magreza Grave</td>
                      </tr>
                      <tr>
                        <td><strong>Entre 16 a 17</strong></td>
                        <td>Magreza Moderada</td>
                      </tr>
                      <tr>
                        <td><strong>Entre 17 a 18,5</strong></td>
                        <td>Magreza Leve</td>
                      </tr>
                      <tr>
                        <td><strong>Entre 18,5 a 25</strong></td>
                        <td>Saudável</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body --> 
              </div>
        </div>
        
        </div>
        </div>
        <!-- /.tab-pane -->

      </div>
      <!-- /.tab-content -->
    </div><!-- /.card-body -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>


{% endblock %}

