{% extends 'base.html' %}
{% block titulo %}Criação de Evento{% endblock %}
{% block conteudo %}

{% include 'parciais/errors.html' %}
{% include 'parciais/_messages.html' %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Cadastro de um novo <strong>Evento.</strong></h3>
    </div>
    <div class="box-body">
        <!-- Date -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-body">
        
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Nome do Evento : </label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-building"></i></span>
                            </div>
                            <input type="text" name="name" class="form-control" placeholder="Digite o nome do Evento">
                          </div>
                    </div>

            <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Valor do Evento : </label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                            </div>
                            <input type="text" name="name" class="form-control" placeholder="Digite o nome do instrutor">
                          </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Data do Evento : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite o nome do instrutor">
                  </div>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Lista de Presença : </label>
                <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                    </div>
                    <input type="text" name="name" class="form-control" placeholder="Digite o nome do instrutor">
                  </div>
            </div>

                    <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Nome do Treinamento : </label>

                    <div class="input-group icon">
                        <div class="input-group-addon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <select class="form-control" name="treinamento" id=treinamento>
                                <option value="" disabled selected>Escolha o Treinamento que irá ocorrer.</option>
                            {% for treinamento in treinamento %}
                            <option id="treinamento" value="{{ treinamento.id }}" >{{ treinamento }} </option>
                            {% endfor %}
                            </select>
                    </div>
                    <!-- /.input group -->
            </div>
            <!-- /.form col md 6-->

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Nome do Treinamento : </label>

                <div class="input-group icon">
                    <div class="input-group-addon">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <select class="form-control" name="treinamento" id=treinamento>
                            <option value="" disabled selected>Escolha o Treinamento que irá ocorrer.</option>
                        {% for treinamento in treinamento %}
                        <option id="treinamento" value="{{ treinamento.id }}" >{{ treinamento }} </option>
                        {% endfor %}
                        </select>
                </div>
                <!-- /.input group -->
        </div>
        <!-- /.form col md 6-->


        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Nome do Treinamento : </label>

            <div class="input-group icon">
                <div class="input-group-addon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <select class="form-control" name="treinamento" id=treinamento>
                        <option value="" disabled selected>Escolha o Treinamento que irá ocorrer.</option>
                    {% for treinamento in treinamento %}
                    <option id="treinamento" value="{{ treinamento.id }}" >{{ treinamento }} </option>
                    {% endfor %}
                    </select>
            </div>
            <!-- /.input group -->
    </div>
    <!-- /.form col md 6-->
    </div>

    <div class="box-footer">
        <a href="{% url 'training:training_list' %}"><i class="fa fa-reply-all mr-2 ml-2" title="Voltar"></i></a>
        <button type="reset" class="btn btn-warning">Limpar Registros</button>
        <button type="submit" value="submit" class="btn btn-primary">Salvar Novo Instrutor</button>
    </div>
</div>
</div> <!-- ./ row finish here-->
    </form>
    <!-- /.form group -->
</div>
<!-- /.card -->


{% endblock %}