{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<title> PeopleAnalytics | {% block titulo %}{% endblock %}</title>
{% include 'parciais/_head.html' %}
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
{% include 'parciais/_nav.html' %}
{% include 'parciais/_sidebar.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
          
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            {% block conteudo %}parciais{% endblock %}
          </div>
     
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include 'parciais/_control-side.html' %}
{% include 'parciais/_footer.html' %}
</div>
<!-- ./wrapper -->
{% include 'parciais/_scripts.html' %}
</body>
</html>
