{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<title> EngineeRH | {% block titulo %}{% endblock %}</title>
{% include 'parciais/_head.html' %}
</head>

<body class="fixed-sn black-skin">
<div class="wrapper">
{% include 'parciais/_nav.html' %}
{% include 'parciais/_sidebar.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        {% block conteudo %}{% endblock %}
       
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    </div>

{% include 'parciais/_footer.html' %}


<!-- ./wrapper -->
{% include 'parciais/_scripts.html' %}
</body>
</html>