{% extends 'base.html' %}
{% block titulo %}Treinamento{% endblock %}
{% block conteudo %}
{% include 'parciais/errors.html' %}
{% include 'parciais/_messages.html' %}
<div class="col-md-12">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#treinamento" data-toggle="tab">Treinamento</a></li>
          <li class="nav-item"><a class="nav-link" href="#entidade" data-toggle="tab">Entidade</a></li>
          <li class="nav-item"><a class="nav-link" href="#instrutor" data-toggle="tab">Instrutor</a></li>
          <li class="nav-item"><a class="nav-link" href="#evento" data-toggle="tab">Evento</a></li>
        </ul>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">

          <div class="active tab-pane" id="treinamento">
            <div class="col-md-3 mb-3">
              <a type="button" href="{% url 'training:training_create' %}" class="btn btn-block btn-primary">Adicionar um novo Treinamento</a>
              </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                      <th class="table-dark" style="text-align : center; width: 15%;">Nome do Treinamento</th>
                      <th class="table-dark" style="text-align : center; width: 10%;">Categoria</th>
                      <th class="table-dark" style="text-align : center; width: 10%;">Conteúdo</th>
                      <th class="table-dark" style="text-align : center; width: 10%;">Requisito</th>
                      <th class="table-dark" style="text-align : center; width: 10%;">Local</th>
                      <th class="table-dark" style="text-align : center; width: 10%;">Carga Horária</th>
                      <th class="table-dark" style="text-align : center; width: 2.5%;"></th>
                     <!-- <th class="table-info" style="text-align : center; width: 15%;">Gráfico</th> -->
                  </tr>
                  </thead>
                  <tbody>
                    {% for obj in  training %}
                    <tr role="row" class="odd">
                      <td>{{ obj.training_name }}</td>
                      <td>{{ obj.category }}</td>
                      <td>{{ obj.content }}</td>
                      <td>{{ obj.required }}</td>
                      <td>{{ obj.resource }}</td>
                      <td>{{ obj.workload }}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
                <div class="col-md-2">
                  <div class="pl-1">Mostrar 1 de 10</div>
                </div>
            
                  <div class="col-md-4 offset-md-5">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="example2_previous">
                          <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                          <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                        </li>
                        <li class="paginate_button page-item next" id="example2_next">
                          <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
            
                
                </div> <!-- ./ box-body -->
          </div>
          <!-- /.tab-pane -->


          <div class="tab-pane" id="entidade">
            <div class="col-md-3 mb-3">
              <a type="button" href="{% url 'training:entity_create' %}" class="btn btn-block btn-primary">Adicionar um nova Entidade </a>
              </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="table-dark" style="text-align : left; width: 7%;">Entidade</th>
                    <th class="table-dark" style="text-align : center; width: 10%;">Razão Social</th>
                    <th class="table-dark" style="text-align : center; width: 10%;">Pessoa Responsável</th>
                    <th class="table-dark" style="text-align : center; width: 7%;">E-mail</th>
                    <th class="table-dark" style="text-align : center; width: 10%;">Telefone</th>
                    <th class="table-dark" style="text-align : center; width: 10%;">Endereço</th>
                    <th class="table-dark" style="text-align : center; width: 7%;">Cidade</th>
                    <th class="table-dark" style="text-align : center; width: 5%;">Deletar</th>
                </tr>
                  </thead>
                  <tbody>
                    {% for obj in  entity %}
                    <tr role="row" class="odd">
                      <td>{{ obj.entity_name }}</td>
                      <td>{{ obj.social_reason }}</td>
                      <td>{{ obj.contact_person }}</td>
                      <td>{{ obj.email }}</td>
                      <td>{{ obj.phone }}</td>
                      <td>{{ obj.address }}</td>
                      <td>{{ obj.city }}</td>
                      <td></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
                <div class="col-md-2">
                  <div class="pl-1">Mostrar 1 de 10</div>
                </div>
            
                  <div class="col-md-4 offset-md-5">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="example2_previous">
                          <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                          <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                        </li>
                        <li class="paginate_button page-item next" id="example2_next">
                          <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
            
                
                </div> <!-- ./ box-body -->

          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="instrutor">
            <div class="col-md-5 offset-md-1 mb-3">
              <a type="button" href="{% url 'training:instructor_create' %}" class="btn btn-block btn-primary">Adicionar um novo Instrutor </a>
              </div>
            <div class="box-body table-responsive no-padding">
              <div class="col-md-10 offset-md-1">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="table-dark" style="text-align : center; width: 1%;">RE Instrutor</th>
                    <th class="table-dark" style="text-align : center; width: 10%">Nome do Instrutor</th>
                    <th class="table-dark" style="text-align : center; width: 10%;">Treinamento Habilitado</th>
                    <th class="table-dark" style="text-align : center; width: 1%;">Deletar</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for obj in  instructor %}
                    <tr role="row" class="odd">
                      <td style="text-align : center;">{{ obj.register_instructor }}</td>
                      <td style="text-align : center;">{{ obj.instructor_name }}</td>
                      <td style="text-align : center;">{% for training in obj.training.all %}
                        <p style="text-align : center;">{{ training }}</p>
                          {% endfor %}
                      </td>
                      <td></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
                <div class="col-md-2">
                  <div class="pl-1">Mostrar 1 de 10</div>
                </div>
            
                  <div class="col-md-4 offset-md-5">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="example2_previous">
                          <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                          <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                        </li>
                        <li class="paginate_button page-item next" id="example2_next">
                          <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
            
                
                </div> <!-- ./ box-body -->
          </div>
          <!-- /.tab-pane -->


          <div class="tab-pane" id="evento">
            <div class="col-md-3 mb-3">
              <a type="button" href="{% url 'training:event_create' %}" class="btn btn-block btn-primary">Adicionar um novo Evento</a>
              </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="table-dark" style="text-align : left; width: 10%;">Evento</th>
                    <th class="table-dark" style="text-align : left; width: 15%;">Treinamento</th>
                    <th class="table-dark" style="text-align : left; width: 10%;">Entidade</th>
                    <th class="table-dark" style="text-align : left; width: 10%;">Instrutor</th>
                    <th class="table-dark" style="text-align : left; width: 4%;">Valor</th>
                    <th class="table-dark" style="text-align : left; width: 10%;">Data da Consulta</th>
                    <th class="table-dark" style="text-align : left; width: 5%;">Registro Cotação</th>
                    <th class="table-dark" style="text-align : left; width: 4%;">Lista de Preseça</th>
                    <th class="table-dark" style="text-align : left; width: 2.5%;"></th>
                </tr>
                  </thead>
                  <tbody>
                    {% for obj in event %}
                    <tr role="row" class="odd">
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                      <td>{{ obj }}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
                <div class="col-md-2">
                  <div class="pl-1">Mostrar 1 de 10</div>
                </div>
            
                  <div class="col-md-4 offset-md-5">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="example2_previous">
                          <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                          <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                        </li>
                        <li class="paginate_button page-item ">
                          <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                        </li>
                        <li class="paginate_button page-item next" id="example2_next">
                          <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
            
                
                </div> <!-- ./ box-body -->
          </div>

        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>

{% endblock %}