{% extends 'base.html' %}
{% load static %}
{% block titulo %}Funcionário{% endblock %}
{% block conteudo %}

{% include 'parciais/_messages.html' %}

<div class="card">
    <div class="card-header">
      <h3 class="card-title">Listagem de Funcionários</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="col-md-3 mb-3">
      <a type="button" href="{% url 'users:user_create' %}" class="btn btn-block btn-primary">Adicionar um novo Funcionário</a>
      </div>
      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
        
        <div class="row">
          <div class="col-sm-12">
            <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover">
        
        <thead>
        <tr role="row">
          <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 2%;">Foto</th>
          <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 10%;">Nome do Funcionário</th>
          <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 5%;">CPF</th>
          <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 7%;">E-mail</th>
          <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 7%;">Cargo</th>
          <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 5%;">Unidade</th>
          <th class="table-dark" tabindex="0" rowspan="1" colspan="1" style="width: 0.5%;"></th></tr>
        </thead>
    
        <tbody>
          {% for employee in employee %}
        <tr role="row">
          <td class="">
            <img class="img-circle img-bordered-sm" src="{% static 'img/users/user.jpg' %}" width=40 height=40>
          </td>
          <td class="pt-3"> <a href="{% url 'users:user_update' employee.pk %}"> {{ employee.name }} </a></td>
          <td class="pt-3">{{ employee.cpf }}</td>
          <td class="pt-3">{{ employee.email }}</td>
          <td class="pt-3">{{ employee.role }}</td>
          <td class="pt-3">{{ employee.unity }}</td>
          <td class="pt-3"><a href="{% url 'users:user_delete' employee.pk %}"><img src="{% static 'icons/cancel.png' %}"></a></td>
        </tr> 
        {% endfor %}
        </tbody>

        <tfoot>
        </tfoot>
      </table>
    </div>
    
    </div>
  </div>
  <div class="row">

    <div class="col-md-2">
      <div class="pl-1">Mostrar 1 de 10</div>
    </div>

      <div class="col-md-4 offset-md-4">
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
          <ul class="pagination">
            <li class="paginate_button page-item previous disabled" id="example2_previous">
              <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
            </li>
            <li class="paginate_button page-item active">
              <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
            </li>
            <li class="paginate_button page-item ">
              <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
            </li>
            <li class="paginate_button page-item ">
              <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
            </li>
            <li class="paginate_button page-item ">
              <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
            </li>
            <li class="paginate_button page-item ">
              <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
            </li>
            <li class="paginate_button page-item ">
              <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
            </li>
            <li class="paginate_button page-item next" id="example2_next">
              <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

    </div>
    <!-- /.card-body -->
  </div>

{% endblock %}