{% extends 'base.html' %}
{% load static %}
{% block titulo %}Visualização de Funcionário{% endblock %}
{% block conteudo %}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{{ employee.photo.thumbnail.url }}" alt="Colaborador">
            </div>

            <h3 class="profile-username text-center">{{ employee.name }}</h3>

            <p class="text-muted text-center">{{ employee.role }}</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Projetos Concluidos</b> <a class="float-right">15</a>
              </li>
              <li class="list-group-item">
                <b>Tempo de Serviço</b> <a class="float-right">5 anos</a>
              </li>
              <li class="list-group-item">
                <b>Nível</b> <a class="float-right">Senior</a>
              </li>
            </ul>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Competências Adicionais</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Formação </strong>

            <p class="text-muted">
              Ciência da Computação CEUNSP, Nossa Senhora do Patrocinio
              
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Localização</strong>

            <p class="text-muted">Indaiatuba</p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> Habiliaddes</strong>

            <p class="text-muted">
              <span class="tag tag-danger">UI Design, </span>
              <span class="tag tag-success">Coding, </span>
              <span class="tag tag-info">Javascript, </span>
              <span class="tag tag-warning">PHP, </span>
              <span class="tag tag-primary">Node.js </span>
            </p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Pergumente Sobre?</strong>

            <p class="text-muted">Inteligência Artificial, estou  disposto a resolver quaisquer desafios.</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Linha do Tempo</a></li>
              <li class="nav-item"><a class="nav-link" href="#skills" data-toggle="tab">Habilidades</a></li>
              <li class="nav-item"><a class="nav-link" href="#training" data-toggle="tab">Treinamentos</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="timeline" >
                
                <div class="timeline">
                  <!-- timeline time label -->
                  <div class="time-label">
                    <span class="bg-success">
                      10 Feb. 2014
                    </span>
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div>
                   

                    <div class="timeline-item">
                      <span class="time"><i class="far fa-clock"></i> 12:05</span>

                      <h3 class="timeline-header"><a href="#">Ação</a> Tipo da ação</h3>

                      <div class="timeline-body">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Error, nulla? Voluptatum modi provident veniam
                       perferendis molestiae rerum, cumque aliquam explicabo
                       quidem architecto numquam autem praesentium 
                       reprehenderit harum ad saepe molestias.
                      </div>
                      <div class="timeline-footer">
                        <a href="#" class="btn btn-primary btn-sm">Read more</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <!-- timeline item -->

                  
                  
                </div> <!-- time line -->

                <div class="timeline">
                  <!-- timeline time label -->
                  <div class="time-label">
                    <span class="bg-success">
                      10 Feb. 2014
                    </span>
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div>
                   

                    <div class="timeline-item">
                      <span class="time"><i class="far fa-clock"></i> 12:05</span>

                      <h3 class="timeline-header"><a href="#">Ação</a> Tipo da ação</h3>

                      <div class="timeline-body">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Error, nulla? Voluptatum modi provident veniam
                       perferendis molestiae rerum, cumque aliquam explicabo
                       quidem architecto numquam autem praesentium 
                       reprehenderit harum ad saepe molestias.
                      </div>
                      <div class="timeline-footer">
                        <a href="#" class="btn btn-primary btn-sm">Read more</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <!-- timeline item -->

                </div> <!-- time line -->

              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="skills">
                <div class="row">
                  <div class="col-12">
                  <div class="box-header">
                    <h4><strong><p class="box-titulo text-center">Comunicação</p></strong></h4>
                    <div class="box-body no-padding">
                    <table class="table">
                      <tbody><tr>
                        <th>Áreas</th>
                        <th>Progresso</th>
                        <th style="width: 40px">Percentual</th>
                      </tr>
                      <tr>
                        <td>Habilidades Interpessoais</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 75%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-aqua">75%</span></td>
                      </tr>
                      <tr>
                        <td>Inglês</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 65%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-aqua">65%</span></td>
                      </tr>
                      <tr>
                        <td>Objetividade e Assertividade</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width: 94%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-green">94%</span></td>
                      </tr>
                      <tr>
                        <td>Língua de Sinais</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-red" style="width: 10%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-red">10%</span></td>
                      </tr>
                    </tbody></table>
                    <hr style="border-top: 1px solid #ddd">
                    </div>
                  </div>
                  
                  <div class="box-header">
                    <h4><strong><p class="box-titulo text-center">Produtividade</p></strong></h4>
                    <div class="box-body no-padding">
                    <table class="table">
                      <tbody><tr>
                        <th>Áreas</th>
                        <th>Progresso</th>
                        <th style="width: 40px">Percentual</th>
                      </tr>
                      <tr>
                        <td>Velocidade de Entrega</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-primary" style="width: 72%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-blue">80%</span></td>
                      </tr>
                      <tr>
                        <td>Conhecimento da Área</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-green" style="width: 98%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-green">98%</span></td>
                      </tr>
                      <tr>
                        <td>Estratégia e Inovação</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-primary" style="width: 82%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-blue">82%</span></td>
                      </tr>
                      <tr>
                        <td>Conhecimento Novas Tecnologias</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-warning" style="width: 65%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-orange">65%</span></td>
                      </tr>
                    </tbody></table>
                    <hr style="border-top: 1px solid #ddd">
                    </div>
                  </div>
                  
                  <div class="box-header">
                    <h4><strong><p class="box-titulo text-center">Lógica</p></strong></h4>
                    <div class="box-body no-padding">
                    <table class="table">
                      <tbody><tr>
                        <th>Áreas</th>
                        <th>Progresso</th>
                        <th style="width: 40px">Percentual</th>
                      </tr>
                      <tr>
                        <td>Matemática</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 79%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-aqua">79%</span></td>
                      </tr>
                      <tr>
                        <td>Raciocinio Lógico</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-green" style="width: 90%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-green">90%</span></td>
                      </tr>
                      <tr>
                        <td>Tomada de Decisão</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-green" style="width: 98%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-green">98%</span></td>
                      </tr>
                      <tr>
                        <td>Lógica Argumentativa</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-green">90%</span></td>
                      </tr>
                    </tbody></table>
                    <hr style="border-top: 1px solid #ddd">
                    </div>
                  </div>
                  <div class="box-header">
                    <h4><strong><p class="box-titulo text-center">Gestão</p></strong></h4>
                    <div class="box-body no-padding">
                    <table class="table">
                      <tbody><tr>
                        <th>Áreas</th>
                        <th>Progresso</th>
                        <th style="width: 40px">Percentual</th>
                      </tr>
                      <tr>
                        <td>Update software</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-red">55%</span></td>
                      </tr>
                      <tr>
                        <td>Clean database</td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-yellow">70%</span></td>
                      </tr>
                      <tr>
                        <td>Cron job running</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-light-blue">30%</span></td>
                      </tr>
                      <tr>
                        <td>Fix and squish bugs</td>
                        <td>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                          </div>
                        </td>
                        <td><span class="badge bg-green">90%</span></td>
                      </tr>
                    </tbody></table>
                    </div>
                  </div>
                  </div>
                </div><!-- /.row -->
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="training">
                <div class="row">
                <div class="col-md-12">
                <p class="lead"> Adicionar um treinamento para o funcionário [Nome Funcionário]</p>
                <form action="">
                  <div class="col-md-12">
                  <label for="">Nome do Treinamento : </label>
                  <select  class="form-control" name="treinamento" id="treinamento">
                    <option value="">Treinamento 1</option>
                    <option value="">Treinamento 2</option>
                    <option value="">Treinamento 3</option>
                    <option value="">Treinamento 4</option>
                    <option value="">Treinamento 5</option>
                  </select>
                </div>
                <div class="col-md-12 mt-2">
                  <a href="#" class="btn btn-primary float-right">Adicionar Treinamento</a>
                </div>
                </form>

              </div>
              </div>

              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Treinamentos Registrados </h3>
        
                        <div class="card-tools">
                          
                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Nome do Treinamento</th>
                              <th>Data de Registro</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>183</td>
                              <td>Excell Avançado.</td>
                              <td>12/12/2020</td>
                              <td>Concluido</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>
              </div>
               </div>
               <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>

{% endblock %}